

<img class="bar-spoon-h rotate" src="../../../assets/images/bar-spoon-h.png" alt="lol">

<div class="cocktail-detail">
  <div class="info-cocktail">
    <h3>{{cocktail.name}}</h3>
    <p *ngIf="cocktail.isIBA"><em>IBA Cocktail</em> </p>
    <p *ngIf="!cocktail.isIBA"><em>Made by<a [routerLink]="['/users', cocktail.owner]"> {{ownerName}}
    </a></em></p>

    <p>Glass type: {{cocktail.glass}}</p>
    <p *ngIf="cocktail.category">Category: {{cocktail.category}}</p>
    <ul>
      <li *ngFor="let ingredient of cocktail.ingredients">
        {{ingredient.amount}}
        {{ingredient.unit}}
        {{ingredient.ingredient}}
        {{ingredient.label}}
      </li>
    </ul>
    <p>How to prepare: {{cocktail.preparation}}</p>
  </div>
  <div class="photo-cocktail">
    <img id="item-img" [src]="cocktail.imageUrl" alt="booze">
  </div>
  <p class="menu-button" *ngIf="owner" (click)="onClickDelete(cocktail._id)">delete</p>
  <a [routerLink]="['edit']" class="menu-button" *ngIf="owner">edit</a>

</div>
<img class="bar-spoon-h" src="../../../assets/images/bar-spoon-h.png" alt="lol">
