<ul id="spirits-list-anchor">
  <li> <a href="#vodka"> Vodka</a></li>
  <li> <a href="#gin"> Gin</a></li>
  <li> <a href="#rum"> Rum</a></li>
  <li> <a href="#whiskey"> Whiskey</a></li>
  <li> <a href="#brandy"> Brandy</a></li>
  <li> <a href="#tequila"> Tequila</a></li>
  <li> <a href="#vermouth"> Vermouth</a></li>
</ul>
<div class="spirits-container">
  <section id="vodka" class="spirit">

    <h3 class="spirit-title">Vodka</h3>
  </section>
  <section id="gin" class="spirit">
    <h3 class="spirit-title">Gin</h3>
  </section>
  <section id="rum" class="spirit">
    <h3 class="spirit-title">Rum</h3>
  </section>
  <section id="whiskey" class="spirit">
    <h3 class="spirit-title">Whiskey</h3>
  </section>
  <section id="brandy" class="spirit">
    <h3 class="spirit-title">Brandy</h3>
  </section>
  <section id="tequila" class="spirit">
    <h3 class="spirit-title">Tequila</h3>
  </section>
  <section  class="spirit">
    <h3 id="vermouth" class="spirit-title">Vermouth</h3>
  </section>
</div>
