<div class="form-box">
  <h4>Edit your profile</h4>

  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate >

    <div class="field">
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="user.username">
    </div>
    <div class="field">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" [(ngModel)]="user.firstName">
    </div>
    <div class="field">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="user.lastName">
    </div>
    <div class="field">
      <label for="pictureUrl">Upload your photo...</label>
      <input type="text" name="pictureUrl" [(ngModel)]="user.pictureUrl">
    </div>

    <div class="field submit">
      <button class="menu-button" type="submit" [disabled]="processing">Submit</button>
      <div *ngIf="feedbackEnabled && form.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
    </div>

  </form>

</div>


