<h1 id="title">Liquid world</h1>
<div class="home-page-container">
  <div class="home-page-sub-container">
    <p class="home-paragraf">Take a look into the <a [routerLink]="['/cocktails']">cocktail list</a> cocktail list to get inspitation and then <a [routerLink]="['/signup']">signup</a> to create your own cocktail </p>
    <div>
      <img class="home-picture" src="../../../assets/images/kv_cocktails.png" alt="cocktail">
    </div>
  </div>
  <!-- <div class="home-page-sub-container">
    <p class="home-paragraf">Learn more <a [routerLink]="['/spirits']">about spirits</a> world </p>
    <div>
      <img src="../../../assets/images/bottels.png" alt="booze" class="home-picture">
    </div>
  </div> -->
</div>
