
<div class="user-box">
  <div *ngIf="currentUser">
    <h3 *ngIf="currentUser._id===user._id">My profile</h3>
    <h3 *ngIf="currentUser._id!==user._id">{{user.username}}'s profile</h3>
  </div>
  <hr>
  <div class="user-detail">
    <h4>Username: {{user.username}}</h4>
    <p>{{user.firstName}} {{user.lastName}}</p>

    <div>
      <img class="profile-img" [src]="user.pictureUrl" alt="lol">
    </div>
  </div>
  <hr>

  <ng-container *ngIf="currentUser">
    <div *ngIf="currentUser._id===user._id">
      <button class="menu-button" (click)="onClickEditButton(currentUser._id)">Edit profile</button>
      <a [routerLink]="['/cocktails/create']"> <button class="menu-button">Create cocktail</button> </a>
    </div>
  </ng-container>
</div>


<div class="cocktail-list">
  <section *ngFor="let cocktail of cocktails">
    <a [routerLink]="['/cocktails', cocktail._id]">
      <app-cocktail-item [cocktail]="cocktail"></app-cocktail-item>
    </a>
  </section>
</div>

