<header id="site-header">
  <div class="container nav-bar">

    <nav class="site-nav">
      <label for="toogle" id="hamburger" >&#9776;</label>
      <img id="logo" src="../assets/images/purple-swirl-cocktail-hi.png" alt="lol" height="40px">
      <input type="checkbox" id="toogle"/>

      <div class="site-title menu">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/spirits']">Spirits </a>
        <a [routerLink]="['/cocktails']">Cocktails </a>
        <a [routerLink]="['/users']">Bartenders </a>
      </div>

    </nav>
    <div [ngClass]="{'is-user': user, 'is-anon': anon}" class="sesion-botton">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a [routerLink]="['/users', user._id]">{{user.username}}</a>
        <button class="menu-button" (click)="logout()">logout</button>
      </div>
      <div *ngIf="!loading && anon">
        <a [routerLink]="['/login']">login</a> <span>or</span>
        <a [routerLink]="['/signup']">signup</a>
      </div>
    </div>

  </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>
<footer id="site-footer">
  <div class="container">
    &copy;mihai costantea 2018
  </div>
</footer>