<header id="site-header">
  <div class="container">

    <nav class="site-nav">

      <h3 class="site-title">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/spirits']">Spirits</a>
        <a [routerLink]="['/cocktails']">Cocktails</a>
        <a [routerLink]="['/users']">Users</a>
      </h3>

    </nav>

    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a [routerLink]="['/users', user._id]">{{user.username}}</a>
        <button (click)="logout()">logout</button>
      </div>
      <div *ngIf="!loading && anon">
        <a [routerLink]="['/login']">login</a>
        <a [routerLink]="['/signup']">signup</a>
      </div>
    </div>

  </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container">
    &copy;mihai costantea 2018
  </div>
</footer>